<div class ="row">
  
  <div class ="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    
    <section id = "add">
      <h1>Take notes!</h1>
      <form action="/" method="post">

        
        <textarea class = "form-control" name="content" id="text_area" placeholder="Write your note here!"></textarea>
         

        <button type="submit" class="btn btn-lg">Take Note!</button>
         
      </form>
    </section>

    <% @notes.each do |note| %>

      <table class="table">
        <tbody>
          <tr>
            <th>
              <div class="each-post"  <%= 'id="complete"' if note.complete %>>
                <p><%=h note.content %></p> 
                <a href="/<%= note.id %>/complete"><span class="glyphicon glyphicon-ok"></span></a>
                <a href="/<%= note.id %>/delete"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="/<%= note.id %>"><span class="glyphicon glyphicon-pencil"></span></a>
                <p></p>
                <p id="creat">Created: <%= note.created_at %></p>

              </div>
            </th>
          </tr>
        </tbody>
      </table>

    <% end %>

  </div>


  <div class ="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    
    <section id="calculator">
      <h1>Wanna pass?</h1>

      <form action="/" method="post">
        <div class="row">

          <div class="col-sm-4">
            <textarea class="form-control" name="subject_name" id="text_area" placeholder="Subject name"></textarea>
          </div>

          <div class="col-sm-4">
            <textarea class="form-control" name="grades" id="text_area" placeholder="Grades"></textarea>
          </div>

          <div class="col-sm-4">
            <textarea class="form-control" name="percentage" id="text_area" placeholder="Percentages"></textarea>
          </div>

          <div class="col-sm-9">
            <button type="submit" class="btn btn-lg">Calculate!</button> 
          </div>

          <div class="col-sm-3">
            <button class="btn btn-lg" data-toggle="tooltip" title="INPUT YOUR GRADES SEPARATED BY COMMAS (','), DO THE SAME FOR THE PERCERNTAGE OF EACH GRADE, SO THE PERCENTAGE THAT YOU GIVE FIRST, WILL BE THE CORRESPONDING PERCENTAGE OF YOUR FIRST GRADE. ">?</button> 
          </div>

        </div>

        </div>
      </form>
      
    </section>

  </div>
</div>






